/* Navbar */
.navbar {
  position: fixed;
  top: -80px;
  z-index: 2;
  width: 100%;
  animation: navbar 0.5s forwards;
}

.navbar-toggler {
  /* background-color: green; */
  width: 30px;
  height: 25px;
  position: relative;
  border: none !important;
}

.navbar-toggler .top {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 5px;
  top: 0;
  transform: translateX(-12px);
}

.navbar-toggler .top.active {
  animation: tg-top 0.2s linear forwards;
}

@keyframes tg-top {
  from {
    top: 0;
    rotate: 0deg;
    transform: translateX(-12px);
  }
  to {
    top: 80%;
    rotate: 35deg;
    transform: translateX(-15px);
  }
}

.navbar-toggler .middle {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 5px;
  bottom: 40%;
  transform: translateX(-12px);
}

.navbar-toggler .middle.active {
  animation: tg-mid 0.2s linear forwards;
}

@keyframes tg-mid {
  from {
    bottom: 40%;
    rotate: 0deg;
    transform: translateX(-12px);
  }
  to {
    bottom: 0;
    rotate: 35deg;
    transform: translateX(-15px);
  }
}

.navbar-toggler .bottom {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 5px;
  bottom: 0;
  transform: translateX(-12px);
}

.navbar-toggler .bottom.active {
  animation: tg-bottom 0.2s linear forwards;
}

@keyframes tg-bottom {
  from {
    bottom: 0;
    rotate: 0deg;
    transform: translateX(-12px);
  }
  to {
    bottom: 70%;
    rotate: -35deg;
    transform: translateX(-15px);
  }
}

.nav-blur {
  filter: blur(5px);
  animation: nav-blur 1s forwards;
}

@keyframes nav-blur {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes navbar {
  from {
    top: -80px;
  }
  to {
    top: 0;
  }
}

.navbar-bg {
  position: fixed;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  filter: blur(5px);
  z-index: -1;
}

.navbar-bg.active {
  height: 100%;
  background-color: #54351e;
  animation: nv-bg-active 1s forwards;
}

@keyframes nv-bg-active {
  from {
    background: rgba(0, 0, 0, 0.8);
  }
  to {
    background-color: #54351e;
  }
}

.navbar-brand {
  color: white;
  font-family: "Lily Script One", cursive;
  font-size: 35px;
  padding-left: 10px;
  transition: 0.5s;
}

.navbar-brand:hover {
  color: #da8649 !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  border: 1px solid white;
}

.navbar-nav .nav-item:hover .nav-link {
  color: orange !important;
}
.nav-item {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.nav-link {
  color: white;
  text-align: left;
}

#nav-bar {
  text-align: right;
}
#active {
  color: #da8649 !important;
}

@media only screen and (max-width: 576px) {
  #site_navbar ul {
    padding: 185px 0;
  }

  .nav-link {
    text-align: center;
  }
}

/* Navbar End */

/* Footer */
footer {
  color: white;
  font-size: 15px;
  text-align: center;
  position: relative;
  /* left: 0; */
  width: 100%;
  /* transform: translateY(350px); */
}

footer .footer-bg {
  position: absolute;
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 50px;
  filter: blur(5px);
  /* transform: translateY(-50px); */
  /* z-index: -1; */
}

footer p {
  width: 100%;
  line-height: 50px;
  z-index: 1;
  position: absolute;
  font-family: "Raleway", sans-serif;
  filter: blur(5px);
  animation: footer-p 0.5s forwards;
}

@keyframes footer-p {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

/* Footer End */

/* --------------------------Pages------------------------- */

/* About Page */

body#about-page h1 {
  font-family: "Lily Script One", cursive;
  color: #da8649;
}

body#about-page .about-content {
  margin-top: 130px;
}

/* about us section */
.abt {
  width: 100%;
  height: 100vh;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  filter: blur(5px);
  opacity: 0;
  transform: translateX(-100px);
  padding-top: 150px;
}

.abt-image img {
  width: 350px;
}

.show-abt {
  animation: show-abt 1s forwards;
}

@keyframes show-abt {
  from {
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.abt .sentence {
  margin: auto;
  width: 50%;
  text-align: center;
  /* background-color: blue; */
}

.abt .sentence h3 {
  font-family: "Lily Script One", cursive;
}

.abt p {
  width: 100%;
}

#earth-container {
  position: relative;
  /* background-color: green; */
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin: auto;
  transition-delay: 200ms;
}

#earth-container .earth {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

#earth-container h5 {
  font-family: "Lily Script One", cursive;
  position: absolute;
  font-size: 0;
  margin: auto;
  margin-top: 45%;
  width: 100%;
  text-align: center;
  color: #f5b78a;
  transform: rotateZ(-20deg);
  transition: 0.5s;
  z-index: 2;
}

#earth-container:hover h5 {
  font-size: 70px;
}

#pan-rotation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  /* background-color: red; */
  width: 90%;
  height: 90%;
  border-radius: 50%;
  transform: rotateZ(0);
  animation: pan-rotation 5s linear infinite;
}

@keyframes pan-rotation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

#pan-rotation .pan {
  width: 50%;
  transform: rotateZ(0);
  animation: earth-pan 5s linear infinite;
  z-index: 1;
}

@keyframes earth-pan {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#earth-container:hover #pan-rotation {
  animation-play-state: paused;
}

/* event page */
.event-section {
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.upper-bg {
  position: relative;
}

.upper-bg .img {
  background: url("../img/events-page.jpg");
  width: 100%;
  height: 50vh;
  filter: blur(2px);
}

.upper-bg .img .darken {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.banner-text {
  text-align: center;
  width: 50%;
  height: 50%;
  padding-top: 20px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  color: white;
}

.banner-text h3 {
  font-weight: bold;
}

.banner-text .underline {
  /* color: white; */
  margin: auto;
  background-color: white;
  width: 100%;
  height: 5px;
  margin: 5px auto;
}

.upper-bg .event-btn {
  /* background-color: red; */
  position: absolute;
  left: 0;
  right: 0;
  top: 93%;
  margin: auto;
  text-align: center;
}

#reg-btn {
  font-size: 32px;
  color: white;
  font-weight: bold;
  background-color: #da8649;
  transition: 0.5s;
}

#reg-btn:hover {
  color: #da8649;
  background-color: #54351e;
}
#sign-up {
  border: #da8649;
  background-color: #da8649;
}
.event-content {
  padding-top: 100px;
}

/* Blog page */
.blog-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.blog-title {
  padding-top: 140px;
  font-family: "Lily Script One", cursive;
}

.blog-title span {
  color: #da8649;
}

.blog .anim {
  /* transform: translateY(100%); */
  opacity: 0;
}

.blog .show-blog {
  animation: show-blog 0.5s forwards;
}

@keyframes show-blog {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Contact Page */
body.contact {
  background: rgba(0, 0, 0, 0.8) url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  font-family: "Raleway", sans-serif;
}

.contact-section {
  width: 100%;
  height: 100vh;
  height: 100vh;
}

.contact-section .content {
  padding-top: 100px;
  margin: auto;
  z-index: 1;
  height: 100%;
  color: white;
  /* transform: translateY(500px); */
  /* background-color: red; */
  /* position: relative; */
}

.contact-section .content h3 {
  position: absolute;
  width: 40%;
  /* background-color: green; */
  top: 140px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /* padding-top: -900px; */
  font-family: "Lily Script One", cursive;
  color: white;
}

.content .row {
  padding-top: 200px;
  /* background-color: yellow; */
  height: 92%;
  position: relative;
}

.contact-section .top-left {
  margin-top: 10px;
  /* background-color: red; */
  height: 40%;
  position: relative;
}

.contact-icons {
  position: absolute;
}

.contact-icons img {
  width: 30px;
}

.contact-icons span {
  margin-left: 20px;
}

.contact-icons:nth-child(1) {
  /* background-color: #54351e; */
  width: 100%;
  top: 0;
}

.contact-icons:nth-child(2) {
  /* background-color: #f5b78a; */
  top: 40%;
  width: 100%;
}

.contact-icons:nth-child(2) img {
  /* background-color: black; */
  margin-left: 3px;
  width: 25px;
}

.contact-icons:nth-child(3) {
  /* background-color: #54351e; */
  bottom: 0;
  width: 100%;
}

.contact-section .bottom-left {
  margin-top: 10px;
  /* background-color: red; */
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.bottom-left img {
  width: 30px;
}

.contact-section footer {
  /* background-color: #54351e; */
  height: auto;
  margin-top: 100px;
}

.contact-section footer .footer-bg {
  bottom: 0;
}

.contact-section footer p {
  bottom: 0;
  transform: translateY(15px);
}

/* ------------------Mobile Response ---------------*/
@media only screen and (max-width: 600px) {
  /* about page */

  .navbar-brand {
    font-size: 20px;
  }

  .abt .text-center {
    font-size: 20px;
  }

  .abt .sentence h3 {
    font-size: 16px;
  }

  .abt .sentence p {
    font-size: 12px;
  }

  .abt-image img {
    width: 200px;
  }

  #earth-container {
    width: 200px;
    height: 200px;
  }

  #earth-container:hover h5 {
    font-size: 40px;
  }

  footer {
    font-size: 10px;
  }

  /* event page */
  .banner-text h1 {
    font-size: 20px;
  }

  .banner-text h3 {
    font-size: 18px;
  }

  .banner-text .underline {
    height: 2px;
  }

  .banner-text h5 {
    font-size: 16px;
  }

  #reg-btn {
    font-size: 20px;
  }

  .event-content h5 {
    font-size: 16px;
  }

  .event-content h4 {
    font-size: 18px;
  }

  .event-content ol {
    font-size: 16px;
  }

  /* blog page */
  .blog-title h1 {
    font-size: 20px;
  }

  .blog-img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    /* margin: auto; */
  }

  .blog-title {
    padding-top: 100px;
  }

  .blog-intro h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .blog-intro h4 {
    font-size: 16px;
  }

  .blog-intro p {
    font-size: 14;
  }

  /* contact page */
  .contact-section .content h3 {
    font-size: 20px;
    width: 80%;
    top: 100px;
  }

  .content .row {
    /* padding-top: 200px;
    background-color: yellow;
    height: 92%; */
    position: absolute;
    top: 0;
  }

  .contact-section label {
    font-size: 12px;
  }

  .contact-section footer {
    background-color: #54351e;
    height: auto;
    margin-top: 100px;
    position: absolute;
  }

  .contact-section footer .footer-bg {
    bottom: 0;
  }

  .contact-section footer p {
    bottom: 0;
    transform: translateY(15px);
  }

  .content .row {
    padding-top: 0;
    /* background-color: yellow; */
    /* height: 92%; */
    position: relative;
    /* width: 90%;
    align-items: center; */
  }

  .contact-section .right {
    /* background-color: purple; */
    position: absolute;
    top: 100px;
  }

  .contact-section .left {
    /* background-color: yellow; */
    height: 110px;
    position: absolute;
    bottom: 140px;
  }

  .contact-section .top-left {
    /* margin-top: 10px; */
    /* background-color: red; */
    height: 80%;
    /* position: relative; */
  }

  .contact-icons img {
    width: 20px;
  }

  .contact-icons:nth-child(1) {
    width: 200px;
  }

  .contact-icons:nth-child(2) {
    width: 200px;
  }

  .contact-icons:nth-child(2) img {
    margin-left: 3px;
    width: 15px;
  }

  .contact-icons:nth-child(3) {
    width: 200px;
  }

  .contact-section .bottom-left {
    /* background-color: burlywood; */
    width: 40%;
    transform: translateY(-30px);
  }

  .contact-icons span {
    margin-left: 10px;
  }

  .bottom-left img {
    width: 20px;
  }
}

/* @media only screen and (max-width: 576px) {
  #site_navbar ul {
    padding: 185px 0;
  }

  .nav-link {
    text-align: center;
  }
} */

#send-btn {
  background-color: #da8649;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}
