.navbar {
  background: linear-gradient(
    to bottom,
    rgb(16, 16, 16, 0.9),
    rgb(21, 21, 21, 0.9)
  );
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.navbar-brand {
  color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  border: 1px solid white;
}

.navbar-nav .nav-item:hover .nav-link {
  color: orange !important;
}
.nav-item {
  font-size: 20px;
}
.nav-link {
  color: white;
  text-align: left;
}

#nav-bar {
  text-align: right;
}
#active {
  color: orange !important;
}
/* Navbar End */
/* Responsive */
@media (max-width: 768px) {
  #nav-bar {
    text-align: center;
  }
  .nav-link {
    text-align: center;
  }

  .container-fluid {
    text-align: center;
  }

  .col-lg-5 {
    text-align: center;
    margin-top: 2rem;
  }

  #home-header {
    font-size: 50px;
  }

  #p-home {
    margin-right: 0;
  }
}
/* Responsive End */

.card-img-top {
  object-fit: cover;
  height: 200px;
}
body {
  background: rgba(0, 0, 0, 0.4) url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  height: 100vh;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
}
